<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ccrama.rssslide">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/yellow_dark">
        <activity
            android:name=".Activities.MainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activities.Website"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:theme="@style/swipeableweb" />
        <activity
            android:name=".Activities.ReaderMode"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:theme="@style/swipeableweb" />
        <activity
            android:name=".Activities.Settings"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:theme="@style/swipeableweb" />
        <activity
            android:name=".Activities.SettingsGeneral"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:theme="@style/swipeableweb" />
        <activity
            android:name=".Activities.SettingsFont"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:theme="@style/swipeableweb" />
        <activity
            android:name=".Activities.SettingsTheme"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:theme="@style/swipeableweb" />
        <activity
            android:name=".Activities.SettingsViewType"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:theme="@style/swipeableweb" />
        <activity
            android:name=".Activities.EditCardsLayout"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:theme="@style/swipeableweb" />
        <activity
            android:name=".Activities.SettingsHandling"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:theme="@style/swipeableweb" />
        <activity
            android:name=".Activities.FeedViewSingle"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:theme="@style/swipeableweb" />
        <activity
            android:name=".Activities.SearchFeeds"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:theme="@style/swipeableweb" />
        <activity
            android:name=".DragSort.ReorderFeeds"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:theme="@style/swipeableweb" />

        <receiver android:name=".CheckForPosts.CheckForPosts"></receiver>

        <activity android:name=".Activities.AddFeedFromURL">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <receiver android:name=".Widget.SubredditWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.ccrama.redditslide.Widget.SubredditWidgetProvider.SUBMISSION" />
                <action android:name="me.ccrama.redditslide.Widget.SubredditWidgetProvider.REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        <service
            android:name=".Widget.ListViewWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <activity
            android:name=".Activities.SetupWidget"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:theme="@style/swipeable"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>